#cat-page {
    color: white;
}

.errorPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    font-size: 40px;
    font-weight: bolder;

    a {
        color: white;
    }
}
