.aboutUs-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #1c1a1a82;
    border-radius: 20px;
    text-align: center;
    font-size: larger;
}


.aboutUs-container img {
    border-radius: 20px;
    max-width: 100%;
    height: 100%;
}