h1 {
    text-align: center;
    color: white;
    padding-bottom: 15px;
    font-size: 3em;
}

footer {
        text-align: center;
        border-bottom: 1px solid white;
        color: white;
        padding-bottom: 15px;
        max-width: 70%;
        margin: 0 auto;
}

main {
    h2{
        font-size: 1.5em;
    }
}

footer {
    h4 {
    text-align: center;
    color: white;
    padding-bottom: 15px;
    font-size: 2em;
    }
    
}