.card-container {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    height: 100%;
    color: black;
}

.card-img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.card-title {
    margin: 0.5rem 5%;
}

.card-description {
    margin: 0.5rem 5%;
}

.card-btn {
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    margin: 0.5rem 0.5rem;
}
