.card-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    color: black;
    overflow: hidden;
    border: 1px solid white;
}

.card-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
        height: 400px;
    }

    span {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 7px 20px;
        border-radius: 25px;
        background-color: black;
        color: white;
        border: 1px solid white;
        font-size: 14px;
    }
}

.card-content {
    padding: 20px;

    h3 {
        margin: 0;
        font-size: 24px;
    }
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-top: 1px dashed black;
    padding-top: 20px;

    button {
        width: 100%;
        padding: 15px 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: #333;
        }
    }

    span {
        font-weight: bolder;
        font-size: 20px;
    }
}
