#navBar {
    background-color: white;
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    transition: font-size 0.3s ease;
}

.logo h1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-decoration: none;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.pages a {
    text-decoration: none;
    color: black;
    font-size: 3em;
    font-weight: bolder;
}

.cart-container_basket {
    display: flex;
    align-items: center;
    color: black;
    gap: 3px;
    cursor: pointer;
}

.cart-container_basket p {
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
}
